<header class="header-container">
    <div class="logo-section">
      <img src="https://static.vecteezy.com/system/resources/previews/053/174/704/non_2x/gear-and-tools-automotive-icon-design-vector.jpg" alt="Logo" class="logo">
      <p [routerLink]="['/app-root']" class="title">MeetSpot</p>
    </div>
  
    <div class="nav-buttons">
      <!-- <button type="button" [routerLink]="['/login']">Iniciar sesión</button>-->
      <button type="button" [routerLink]="['/term']">Terminos y condiciones</button> 
    </div>
  </header>